<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
          constants = {
            getTabs: '@Url.RouteUrl("DefaultApi", new {controller = "Tab", action = "tabs" })',
            getCourses: '@Url.RouteUrl("DefaultApi", new {controller = "Course", action = "courses" })'
        }
    </script>
  
      <link href="~/css/styles.css" rel="stylesheet" media="all">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <title>Guitar tabber</title>
</head>
<body>
    <div id="content">
    </div>
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>